.paddle {
    background-color: dodgerblue;
    border-radius: 4px;
    position: absolute;
}

#ball {
    background-color: cadetblue;
    position: absolute;
}

body {
    background-color: #222;
}

#pause {
    border: thick dodgerblue solid;
    background-color: #111;
    border-radius: 2px;
    z-index: 1;
    height: 150px;
    width: 260px;
    position: absolute;
    top: calc(50% - 79px);
    left: calc(50% - 130px);
}

p {
    font: bold arial, sans-serif;
    color: dodgerblue;
    text-align: center;
    font-size: 2em;
}

#pause p {
    vertical-align: middle;
}

.score {
    position: absolute;
    z-index: 2;
    top: 0;
    height: 5%;
    min-height: 30px;
    width: 10%;
    min-width: 50px;
}

.score p {
    font-size: 2em;
}

#score1 {
    left: 0;
}

#score2 {
    right: 0;
}